<div class="row">
    <div class="col-lg-6 register_form animated bounceInDown" style="margin: auto">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="text-center">
            <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=80" alt="">
        </div>
        <br>
        <p>Formulaire d'inscription</p>
        <hr>
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Votre email *'}}) }}
                    </div>
                    <div class="text-center">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form_widget(form.username, {'attr':{'class':'form-control', 'placeholder':'Votre pseudo *'}}) }}
                    </div>
                    <div class="text-center">
                        {{ form_errors(form.username) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'Votre mot de passe *'}}) }}
                    </div>
                    <div class="text-center">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control', 'placeholder':'Confirmer votre mot de passe *'}}) }}
                    </div>
                    <div class="text-center">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {{ form_widget(form.recaptcha, { 'attr': {
            'options' : {
                'theme': 'light',
                'type': 'image',
                'size': 'normal'
            },
        } }) }}
        {{ form_errors(form.recaptcha) }}

        {{ form_rest(form) }}
        <hr>
        <div class="form-group">
            <input class="btn btn-primary register_submit" type="submit" value="Valider" />
        </div>
        <div class="form-group">
            <a href="{{ path('ecommerce_homepage') }}" class="btn btn-danger register_submit">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>