{% extends '@Ecommerce/content.html.twig' %}

{% block contenair %}

    <div class="row text-center">
        <div class="col-md-3">
            {% render(controller('EcommerceBundle:Category:sidebarLeft')) %}
        </div>
        {% if product | length != 0 %}
        <div class="col-md-9">
            <div class="row">
                {% for product in product %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ asset(product.getWebPath) }}" alt="" class="img-responsive">
                        <div class="caption product_info">
                            <h4>{{ product.brand.name }} {{ product.type }}</h4>
                            <p>
                                <span class="price">{{ product.price}} €</span>
                            </p>
                            <a href="{{ path('ecommerce_addCart',{id:product.id}) }}" class="btn btn-primary btn-sm">Ajouter au panier</a>
                            <a href="{{ path('ecommerce_show',{id:product.id}) }}" class="btn btn-default btn-sm">Détails</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col-md-9 text-center">
            <div class="alert alert-warning text-center">
                <p>Aucun produit</p>
            </div>
        </div>
        {% endif %}
    </div><!-- End/.row -->
    <div class="row text-center">
        <div class="col-md-12">
            {% include ('@Ecommerce/Partials/pagination/pagination.html.twig') %}
        </div>
    </div>

{% endblock contenair %}
